.navigation {
  display: grid;
  line-height: var(--navigation-height);
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
}

.navigation > a {
  color: var(--link-color);
}

.navigation__block {
  align-self: center;
  width: 99%;
  max-width: var(--max-tablet-width);
  margin: var(--padding-normal);
}

.navigation__link {
  flex-grow: 1;
  padding: 0 var(--padding-small);
  text-align: center;
  border-radius: var(--border-radius-inner);
}

.navigation__link:hover {
  background-color: var(--accent-dark-color);
}

.header {
  height: var(--header-height);
}
