.parallax__text {
  display: block;
  margin: auto;
  width: fit-content;
  font-size: var(--font-header-size);
  font-weight: 300;
  font-variant: small-caps;
  letter-spacing: 0.08em;
  background: linear-gradient(
    120deg,
    var(--text-color),
    var(--accent-border-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 2px 12px var(--accent-shadow-color));
}
