html {
  font-family: sans-serif;
  font-size: var(--font-size);
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

.icon_link {
  color: var(--accent-border-color);
}

.logo_link {
  color: var(--text-color);
  font-size: var(--logo-link-size);
}

.logo_link:hover {
  color: var(--accent-color);
}

.nowrap {
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
}

p {
  padding: 0;
  margin: 0;
  margin-bottom: var(--padding-normal);
  line-height: 1.35;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  font-weight: bold;
  font-size: var(--font-h1-size);
  border-bottom: 1px solid var(--accent-color);
  padding: var(--padding-small) 0;
}

h2 {
  font-weight: bold;
  font-size: var(--font-h2-size);
  border-bottom: 1px solid var(--accent-color);
  padding: var(--padding-small) 0;
}

h3 {
  font-weight: bold;
  font-size: var(--font-h3-size);
  border-bottom: 1px solid var(--accent-color);
  padding: var(--padding-small) 0;
}

h4 {
  font-weight: bold;
  font-size: var(--font-h4-size);
  border-bottom: 1px solid var(--accent-color);
  padding: var(--padding-small) 0;
}

h5 {
  font-weight: bold;
  font-size: var(--font-h5-size);
  border-bottom: 1px solid var(--accent-color);
  padding: var(--padding-small) 0;
}
