.hidden {
  display: none !important;
}

@mixin if-desktop {
  .hidden--desktop {
    display: none !important;
  }
}

@mixin if-mobile {
  .hidden--mobile {
    display: none !important;
  }
}

@mixin if-phone {
  .hidden--phone {
    display: none !important;
  }
}

@mixin if-tablet {
  .hidden--tablet {
    display: none !important;
  }
}
