$text-color: #dadada;
$background-color: #121212;
$accent-color: #634376;

$danger-color: #764343;
$warning-color: #5f5934;
$success-color: #4d7643;
$information-color: #436a76;

@define-mixin define-color $name, $variable {
  --$(name)-color: $(variable);
  --$(name)-border-color: hsl(from $variable h s calc(l + 30));
  --$(name)-dark-color: hsl(from $variable h s calc(l - 12));
}

:root {
  --text-color: $text-color;
  --background-color: $background-color;
  --background-light-color: hsl(from $accent-color h calc(s - 12) calc(l - 23));
  --link-color: hsl(from $accent-color h s calc(l + 50));

  @mixin define-color accent, $accent-color;
  @mixin define-color danger, $danger-color;
  @mixin define-color warning, $warning-color;
  @mixin define-color success, $success-color;
  @mixin define-color information, $information-color;
}
