$max-phone-width: 700px;
$max-tablet-width: 1000px;

:root {
  --font-size: 14px;
  --logo-link-size: 48px;

  --font-h1-size: 1.6rem;
  --font-h2-size: 1.4rem;
  --font-h3-size: 1.2rem;
  --font-h4-size: 1.1rem;
  --font-h5-size: 1rem;
  --font-header-size: 3rem;

  --padding-small: 0.25rem;
  --padding-normal: 0.75rem;
  --padding-large: 1.25rem;

  --border-radius-inner: 0.25rem;
  --border-radius-outer: 0.75rem;

  --avatar-size: 12rem;

  --navigation-height: 32px;
  --header-height: 64px;

  --min-cell-width: 80px;
  
  --max-phone-width: $max-phone-width;
  --max-tablet-width: $max-tablet-width;
}
