.navigation {
  display: grid;
  line-height: var(--navigation-height);
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 -1px var(--accent-color) inset;
  align-self: center;
  width: 100%;
  max-width: var(--max-tablet-width);

  & > a {
    color: var(--link-color);
  }
}

.navigation__link {
  flex-grow: 1;
  padding: 0 var(--padding-normal);
  text-align: center;

  &:hover {
    background-color: var(--accent-dark-color);
  }
}

.header {
  height: var(--header-height);
}
