html {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: var(--font-size);
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: var(--max-tablet-width);
}

@mixin header-tag($el) {
  #{$el} {
    font-weight: bold;
    font-size: var(--font-#{$el}-size);
    border-bottom: 1px solid var(--accent-color);
    padding: var(--padding-small) 0;
  }
}

@include header-tag(h1);
@include header-tag(h2);
@include header-tag(h3);
@include header-tag(h4);
@include header-tag(h5);
