@mixin block-color($type) {
  .block--#{$type} {
    border-color: var(--#{$type}-border-color);

    & .block__header {
      background: var(--#{$type}-color);
      border-color: var(--#{$type}-border-color);
      box-shadow: 0 -1px var(--#{$type}-dark-color) inset;
    }

    &.block--solid {
      background: var(--#{$type}-color);
    }
  }
}

.block {
  margin-bottom: var(--padding-normal);
}

.block--solid {
  background: var(--accent-color);
}

.block__header {
  font-size: var(--font-h2-size);
  padding: var(--padding-normal);
}

.block__content {
  padding: var(--padding-normal);
  border-radius: var(--border-radius-outer);
  background: var(--background-light-color);
}

.block__content--centered {
  display: flex;
  justify-content: center;
}

@include block-color(danger);
@include block-color(warning);
@include block-color(success);
@include block-color(information);
